.fonte-logo {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Pacifico', cursive;
    color: darkred;
}

.fonte-titulo {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Pacifico', cursive;
    text-shadow: 5px 05px black;
}

.imagem-carrossel-um {
    object-fit: cover;
    object-position: 0 60%;
    height: 500px;
}

.imagem-carrossel-dois {
    object-fit: cover;
    height: 500px;
}

.fonte-subtitulo {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Pacifico', cursive;
    color: darkred;
}

.cards-receitas {
    background-color: whitesmoke;
}

.botao-cor-espeical {
    background-color: darkred;
    color: white;
}

.botao-cor-espeical:hover {
    background-color: rgb(179, 6, 6);
    color: white;
}

.borda-cor-especial {
    border-color: darkred;
}
